.nav {
  margin: 0 0 10px;
  padding: 0 0 20px;
  border-bottom: 1px solid #dce5f2;
  a {
    background: #3a4250;
    color: #fff;
    padding: 4px 10px;
    margin: 0 2px;
    border-radius: 2px;
    &.active {
      color: #b690f1;
      background: #363c48;
    }
  }
}